.game-table td {
    border: 0.1rem solid lightgrey;
    cursor: pointer;
    width: 10rem;
    height: 10rem;
    font-size: 6rem;
    transition: background 0.25s, font-size 0.25s;
}

.game-table td:hover {
    background-color: rgba(173, 216, 230, 0.288);
    font-size: 5rem !important;
}

.btn {
    transition: 0.5s;
}

.btn:hover {
    font-size: 1.2rem;
}

.bi-circle {
    color: #5cd05b;
}

.bi-x-lg {
    color: #fe447d;
}

body {
    overflow-y: scroll;
}
